In [1]:
from yahoo_fin.stock_info import get_data

Syntax for how to use the API:
How to use: get_data(ticker, start_date = None, end_date = None, index_as_date = True, interval = “1d”)

In [10]:
# Test run one ticker
amazon_weekly= get_data("amzn", start_date="12/04/2009", end_date="12/04/2021", index_as_date = True, interval="1wk")

In [11]:
type(amazon_weekly)

pandas.core.frame.DataFrame

In [12]:
amazon_weekly

,open,high,low,close,adjclose,volume,ticker
2009-11-30,143.619995,145.910004,135.110001,137.580002,137.580002,31350900,AMZN
2009-12-07,138.000000,139.000000,129.820007,134.149994,134.149994,47863000,AMZN
2009-12-14,132.500000,132.610001,125.650002,128.479996,128.479996,45794900,AMZN
2009-12-21,130.479996,139.699997,130.190002,138.470001,138.470001,32406000,AMZN
2009-12-28,139.750000,142.580002,134.520004,134.520004,134.520004,28600700,AMZN
...,...,...,...,...,...,...,...
2021-08-30,3357.429932,3527.000000,3355.219971,3478.050049,3478.050049,16677900,AMZN
2021-09-06,3478.000000,3549.989990,3462.909912,3469.149902,3469.149902,10903800,AMZN
2021-09-13,3482.800049,3497.959961,3402.010010,3462.520020,3462.520020,14661100,AMZN
2021-09-20,3396.000000,3419.000000,3305.010010,3355.729980,3355.729980,4669100,AMZN
2021-09-21,3375.000000,3379.500000,3332.389893,3343.629883,3343.629883,2763330,AMZN

Test run with multiple tickers in a list

In [13]:
tickers = ["AMZN", "DIS", "BA"]
hist_data_dict = {}
for ticker in tickers:
    hist_data_dict[ticker] = get_data(ticker, start_date="12/04/2009", end_date="12/04/2021", index_as_date = True, interval="1wk")

In [14]:
# Each ticker then has its own dataframe.
hist_data_dict["DIS"]

,open,high,low,close,adjclose,volume,ticker
2009-11-30,30.799999,31.100000,30.299999,30.840000,26.556301,23918100,DIS
2009-12-07,30.930000,31.830000,30.450001,31.700001,27.296848,59513000,DIS
2009-12-14,31.920000,32.590000,31.580000,31.950001,27.829397,66176900,DIS
2009-12-21,32.049999,32.500000,31.940001,32.290001,28.125551,26990200,DIS
2009-12-28,32.240002,32.750000,31.799999,32.250000,28.090706,40567900,DIS
...,...,...,...,...,...,...,...
2021-08-30,180.500000,185.300003,178.529999,181.000000,181.000000,35684100,DIS
2021-09-06,181.020004,187.580002,180.050003,184.119995,184.119995,32095100,DIS
2021-09-13,185.119995,185.899994,181.100006,183.470001,183.470001,34650800,DIS
2021-09-20,179.740005,180.880005,176.550003,178.610001,178.610001,8056600,DIS
2021-09-21,180.320007,182.229996,169.029999,171.169998,171.169998,22596069,DIS